<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
	function memberView(viewEmail) {
		var viewUrl = "/member/" + viewEmail; 
		console.log(viewUrl);

 		$.ajax({
			type: 'get',
			data: {"memail": viewEmail},
			url: viewUrl,
			dataType: 'json',
			success: function(result,status){
				console.log(status);
				var output = "<table border='1'>";
				output += "<tr><th>이메일</th>";
				output += 		"<th>이름</th></tr>";
				output += "<tr><td>"+result.memail+"</td>";
				output += "<td>"+result.mname+"</td></tr>";
				output += "</table>";
				$("#memberview").html(output);
			}, error: function() {
				console.log("상세조회 오류");
			}
		}); 
 
 }
	function memberDelete(mnumber){
		var deleteUrl = "/member/"+mnumber;
		$.ajax({
			type: "delete",
			url: deleteUrl,
			success: function(result){
				if(result=="ok"){
					location.href='/member/list';
				} else {
					console.log("삭제 실패");
				}
			}, error: function(){
				console.log("삭제 오류");
			}
		});
	}

</script>

<title>Insert title here</title>
</head>
<body>
	<h2>memberlist.html</h2>
	<table border='1'>
		<tr>
			<th>이메일</th>
			<th>회원번호</th>
			<th>이메일</th>
			<th>이름</th>
			<th>비밀번호</th>
			<th>상세조회</th>
			<th>삭제</th>
		</tr>
		<tr th:each="member: ${memberList}">
			<td><a th:onclick="memberView([[${member.memail}]])">
					[[${member.memail}]]</a></td>
			<td><span th:text="${member.mnumber}"></span></td>
			<td><span th:text="${member.memail}"></span></td>	
			<td><span th:text="${member.mname}"></span></td>
			<td><span th:text="${member.mpassword}"></span></td>
			<td><a th:href="@{'/member/'+${member.memail}}">조회</a></td>
			<td><button th:onclick="memberDelete([[${member.mnumber}]])">삭제</button>
		</tr>
			
	</table>
	<div id="memberview"></div>
</body>
<script type="text/javascript">



</script>
</html>






